body{

font-family:Segoe UI;

}

.login-body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:linear-gradient(135deg,#003366,#0077cc);

}

.logo{

width:450px;
margin-bottom:20px;

}

.dept-title{

color:white;
font-weight:bold;
margin-bottom:20px;

}

.login-card{

background:white;
padding:40px;
border-radius:12px;
width:350px;

box-shadow:0 15px 35px rgba(0,0,0,0.2);

margin:auto;

}

.red{

background:#ffb3b3 !important;

}
